# Backend URL (used by Socket.io to connect)
VITE_BACKEND_URL=https://imposter-backend-zgpt.onrender.com

# Public Game URL (used for QR code and join links)
# VITE_PUBLIC_GAME_URL=https://imposter-two-gules.vercel.app
